<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_dynamicfeature">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
    <application tools:ignore="MissingApplicationIcon">
        <activity
            android:name=".DynamicActivity"
            android:exported="false" />
        <activity android:name="com.unity3d.player.UnityPlayerActivity" tools:node="remove"/>
    </application>
</manifest>